.menu-page {
    width: 100%;
    height: 100vh; /* S'assure que la page prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column; /* Permet une disposition verticale */
    align-items: center; /* Centre horizontalement les éléments */
    padding: 20px;
    box-sizing: border-box; /* Inclut le padding dans les dimensions */
    background-color: #fff; /* Fond blanc pour la page */
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: relative; /* Assure que le header est positionné relativement */
    z-index: 100; /* Assure que le header est au-dessus d'autres éléments */
    background-color: #fff; /* Fond blanc pour le header */
}

.logo {
    width: 10%;
}

.menuIcon {
    width: 3%;
}