.demandes-box-2 {
    width: 195%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f3c5a8;
}

.details-2, .heure-2 ,.id {
    flex: 1;
    text-align: left;
    color: #3a0457; /* Couleur pour le texte des détails et de l'heure */
}

.details-2 {
    margin-right: 20px; /* Espace entre les détails et l'heure */
}

.heure-2 {
    margin-right: 20px; /* Espace entre l'heure et l'id*/
}
