.menu-page {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.logo {
  height: 40px;
}

.menuIcon {
  height: 30px;
}

.order-details {
  padding: 20px;
}

.order-details h1 {
  color: #3e0066;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.order-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.locationIcon {
  width: 30% ;
  margin-right: 10px;
}

.order-location p {
  color: #3e0066;
  font-size: 1.2em;
}

.order-id {
  margin-bottom: 20px;
}

.order-id h2 {
  color: #3e0066;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.id-number {
  color: #ff6600;
  font-size: 2.5em;
  font-weight: bold;
}

.confirm-section h3 {
  color: #3e0066;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.confirm-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}
