.demandes-box { 
    width: 100%; /* Ajustement pour les petits écrans */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f3c5a8;
}

.details, .heure {
    flex: 1;
    text-align: left;
    color: #3a0457; /* Couleur pour le texte des détails et de l'heure */
}

.details {
    margin-right: 20px; /* Espace entre les détails et l'heure */
}

.accept-button, .deny-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
}

.accept-button img, .deny-button img {
    height: 20px;
    width: 20px;
}

.accept-button:hover, .deny-button:hover {
    transform: scale(1.1);
}

/* Media query pour les écrans de 768px et moins */
@media (max-width: 768px) {
    .demandes-box {
        width: 65%;
    }

    .details{
        width: 150px;
    }
    
    .heure {
        width: 250px;
    }

    .accept-button, .deny-button {  
        width: 20%;
    }

    .accept-button img, .deny-button img {
        height: 15px; /* Agrandir les boutons pour les petits écrans */
        width: 15px;
    }

    .accept-button, .deny-button {
        transform: none; /* Désactiver l'animation de transformation sur les petits écrans */
    }
}