.demandes-box { 
    width: 90%; /* Ajustement pour les petits écrans */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: -1%;
}

.details, .heure {
    flex: 1;
    text-align: left;
    color: #3a0457; /* Couleur pour le texte des détails et de l'heure */
}

.details {
    margin-right: 20px; /* Espace entre les détails et l'heure */
}

.accept-button, .deny-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
}

.accept-button img, .deny-button img {
    height: 20px;
    width: 20px;
}

.accept-button:hover, .deny-button:hover {
    transform: scale(1.1);
}

/* Media query pour les écrans de 768px et moins */
@media (max-width: 768px) {
    .demandes-box {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }

    .details, .heure {
        text-align: left;
        width: 150px;
        margin-bottom: 10px;
    }

    .accept-button, .deny-button {
        width: 30%;
        text-align: center;
    }

    .accept-button img, .deny-button img {
        height: 10px; /* Agrandir les boutons pour les petits écrans */
        width: 10px;
    }

    .accept-button, .deny-button {
        transform: none; /* Désactiver l'animation de transformation sur les petits écrans */
    }
}