.card-section {
    display: flex;
    flex-direction: column;
}

.card-item {
    display: flex;
    flex-direction: column;
    position: relative; /* Assure que les éléments positionnés absolument se réfèrent à cet élément */
}

.card-item img {
    width: 400px; /* ou toute autre largeur désirée */
    height: 200px; /* ou toute autre hauteur désirée */
    object-fit: cover; /* ou une autre valeur pour ajuster le contenu */
    border-radius: 10px;
    margin-bottom: -5px;
}

.item-name {
    margin-right: auto;
    margin-bottom: -10px;
}

.item-price {
    margin-right: auto;
}

.delete-icon-restaurant {
    position: absolute;
    top: 5px;
    left: 170px;
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card-item img {
        width: 150px;
        height: 100px;
    }
}