.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: 0;
    width: 95%;
    height: 10vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: fixed;
}

.logo-header{
    width: 140px;
    height: fit-content;
}

.header-right-part{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.header-text{
    color: var(--primary-color);
    font-size: 0.8rem;
    padding: 1.2rem;

    a{
        color: var(--primary-color);
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 500;
        padding: 8px 40px;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
    }

    a:hover{
        color: var(--second-color);
    }

    #order{
        background-color: var(--second-color);
        color: var(--background-color);
    }

    #order:hover{
        background-color: var(--primary-color);
    }

    #account{
        background-color: var(--second-color);
        color: var(--background-color);
    }

    #account:hover{
        background-color: var(--primary-color);
    }
}

/* RESPONSIVE */
@media screen and (max-width: 1400px){
    .logo-header{
        width: 110px;
        height: fit-content;
    }

    .header-text{
    
        a{
            font-size: 0.9rem;
        }
    }
}