extends layout

block content
  h1= title
  form(action='/login', method='post')
    // user input
    label(for='username') Username:
    br
    input(type='text', name='username', placeholder='Username', required='')
    br
    br
    label(for='password') Password:
    br
    input(type='password', name='password', placeholder='Password', required='')
    br
    br
    // submit button
    input(type='submit', value='login')