.menu-page {
    width: 100%;
    height: 100vh; /* S'assure que la page prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column; /* Permet une disposition verticale */
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative; /* Assure que le header est positionné relativement */
    z-index: 100; /* Assure que le header est au-dessus d'autres éléments */
}

.logo {
  width: 10%;
}

.menuIcon {
width: 3%;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pour séparer les éléments à chaque extrémité */
    height: 100vh; /* Assure que le nav prend toute la hauteur de .menu-page */
    padding: 0 20px; /* Ajoute un padding pour l'espacement entre les éléments */
}

.menu-title {
margin-left: 650px; 
color: #240046;
}

.edit-button {
    background-color: white;
    color: #FF7B00;
    margin-left: auto;
}

.menu-section {
display: flex;
flex-direction: column;
}

.section-title {
margin-right: auto;
margin-left: 50px;
color: #FF7B00;
}

.section-header{
  display: flex;
  flex-direction: row;
  margin-right: 200px;
}

.card-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-right{
  margin-right: 150px;
}

.card-left{
margin-left: 150px;
}

.add-button {
    background-color: #FF7B00;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 10px;
}

.modal-content input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF7B00;
    color: white;
    margin-top: 10px;
}

.modal-content button[type="button"] {
    background-color: #ccc;
}

@media screen and (max-width: 768px) {
    .menu-title {   
      margin-left: 130px;
        text-align: center;
        font-size: 1.8em;
    }

    .menu-nav{
      width: auto;
      height: auto;
    }

    .logo{
      margin-left: -2%;
      width: 30%;
    }

    .menuIcon{
      width: 6%;
    }

    .edit-button{
      margin-left: 18%;
    }

    .menu-section {
        align-items: center; /* Centrer verticalement les éléments */
    }

    .section-title {
        margin-left: 0%;
    }

    .card-row {
        flex-direction: row; /* Empiler les cartes verticalement */
    }

    .card-right{
        margin-right: 5%;
    }  

    .card-left {
        margin: 0; /* Supprimer les marges latérales pour centrer les cartes */
    }
}