.menu-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 100;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Centre les éléments horizontalement */
    padding: 20px;
}

.menu-title {
    color: #240046;
    text-align: center;
    flex: 1; /* Permet au titre de prendre l'espace disponible */
    margin-left: 250px;
}

.edit-button {
    background-color: white;
    color: #FF7B00;
    margin-left: auto;
}

.menu-section {
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-right: 800px;
    color: #FF7B00;
}

.section-header {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.add-button {
    position: relative;
    background-color: #FF7B00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 800px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-content .form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.modal-content .form-label > input {
    width: 100%; /* Utilise toute la largeur disponible */
    padding: 5px;
    margin-top: 5px; /* Ajustement du margin-top si nécessaire */
}


.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF7B00;
    color: white;
    margin-top: 10px;
}

.modal-content button[type="button"] {
    background-color: #ccc;
}

@media screen and (max-width: 768px) {
    .menu-title {
        margin-left: 130px;
        text-align: center;
        font-size: 1.8em;
    }

    .menu-nav {
        width: auto;
        height: auto;
    }

    .edit-button {
        margin-left: 18%;
    }

    .menu-section {
        align-items: center;
    }

    .section-title {
        margin-left: 750px;
    }

    .card-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px;
    }
}