.menu-content-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  color: var(--second-color);

    h1{
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
}

.Menu-bottom-button-box {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Menu-bottom-button-box-text{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.Menu-bottom-button {
  background-color: var(--third-color);
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.Button {
  --leftButton: 0px;
  left: var(--leftButton);
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--primary-color);
  border-radius: 30px;
  transition: 0.5s;
}

.Toggle-button {
  width: 50%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  color: var(--second-color);
  font-size: 18px;
  z-index: 1;
  transition: none;
  font-weight: 600;
}

.Toggle-button:hover {
  background: transparent;
}

.open .Button {
  --leftButton: 0%;
}

.closed .Button {
  --leftButton: 50%;
}

.bouttons-commandes {
  display: flex;
  gap: 10px;
}

.accepter, .refuser {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
}

.accepter:hover, .refuser:hover {
  background: transparent;
}

.accepter-hover{
  background: transparent;
}

.accepter-img,
.refuser-img {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 24px;
  color: var(--primary-color);
  margin: 20px 0;
}

.menu-footer {
  margin-top: 40px;
}

.menu-footer p {
  font-size: 14px;
  font-weight: 300;
  color: var(--second-color);
}

.table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}

.table th {
  border-bottom: 2px solid var(--third-color);
}

.table-empty {
  padding: 20px;
  color: #666;
}

/* Media query for screens 768px et moins */
@media (max-width: 768px) {

  .Menu-bottom-button {
    max-width: 200px;
  }
}
