.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.account-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.account-title{
    margin-left: 200px;
    font-size: 2rem;
    font-weight: bold;
}

.consumer-text{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.account-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;

    .delete-button-div{
        display: flex;
        justify-content: center;
        width: 100%;

        button{
            font-size: 1.1rem;
        }
    }
}

.account-details-bottom{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding: 0 5rem;
    min-height: 60vh;
}

.account-details-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
    width: 200px;
    height: 352px;
    font-weight: 700;
    text-align: start;
}

.account-details-right input{
    margin-bottom: 0px; /* Ajouter une marge en bas de chaque champ lorsque la classe editing est appliquée */
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 14.5px 0;
}

.account-details-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin: 1rem 0;
    width: 200px;
    height: 352px;
}

.disabled-input{
    background-color: var(--background-color);
    border: none;
    margin: 15.7px 0;
}

.delete-button-div{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

/* RESPONSIVE */
@media screen and (max-width: 1400px){

    .account-details{
    
        .delete-button-div{
    
            button{
                font-size: 0.9rem;
    
            }
        }
    }
}