.order2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-2 {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title-section-2 {
    margin: 20px 0;
}

.title-section-2 h2 {
    font-size: 24px;
    color: #4E148C;
}

.progress-bar-consommateur-2 {
    width: 80%;
    height: 10px;
    background-color: #FFE2CB;
    border-radius: 10px;
    display: flex;
    margin: 20px 0;
}

.progress-bar-consommateur-2 .step1-consommateur-2 {
    width: 50%; /* Première étape de la progression */
    height: 100%;
    background-color: #FFE2CB;
    border-radius: 10px 0 0 10px;
    transition: flex 0.3s ease-in-out;
}

.progress-bar-consommateur-2 .step2-consommateur-2 {
    width: 0%; /* Deuxième étape de la progression */
    height: 100%;
    background-color: #FF7B00;
    border-radius: 0 10px 10px 0;
    transition: flex 0.3s ease-in-out;
}

.progress-bar-consommateur-2 .step1-consommateur-2.active-consommateur-2 {
    width: 50%;
}

.progress-bar-consommateur-2 .step2-2.active-consommateur-2 {
    width: 50%;
}

.livrIcon {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

p {
    font-size: 18px;
    color: #4E148C;
    margin-top: 20px;
}

.delivery-code-title {
    font-size: 18px;
    color: #4E148C;
    margin-top: 20px;
    text-align: center;
}

.delivery-code {
    font-size: 36px;
    color: #FF7B00;
    margin-top: 10px;
    text-align: center;
}
