.shopping-basket{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shopping-basket-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    margin-top: 10vh;
}

.shopping-basket-title{
    font-size: 2rem;
    font-weight: bold;
}

.shopping-basket-text{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.shopping-basket-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
    height: 100%;
    justify-content: center;
}

.shopping-basket-details-separator{
    width: 2px;
    height: 80%;
    background-color: var(--third-color);
    margin: 1rem 2rem;
}

.shopping-basket-details-order, .shopping-basket-details-price{
    width: 40%;
}